.team-image {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
}

#intro {
    text-align: center;
}

#team-container {
    display: flex;
    flex-direction: row;
}

#modal {
    position: absolute;
    width: 80vw;
    height: 80vh;
    top: 10vh;
    left: 10vw;
    background-color: rgb(80, 80, 80);
    opacity: 0.9;
}

#modal-content {
    color: honeydew;
    font-weight: bold;
}

#close-modal {
    position: absolute;
    top: 0px;
    right: 0px;
}

.hide {
    display: none;
}

.player {
    
}

.edit {
position: absolute;
right: 0;
}

#team-banner {
    position: relative;
    font-size: 30px;
    text-align: center;
    color: honeydew;
}

.submit {
    margin: auto;
    display: block;
    padding: 3px 6px;
}

.form-input {
    margin: auto;
    display: block;
}