.team-image {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
}

#team-container {
    display: flex;
    flex-direction: row;
}

#modal {
    position: absolute;
    width: 80vw;
    height: 80vh;
    top: 10vh;
    left: 10vw;
    background-color: gray;
}

.hide {
    display: none;
}

.player {
    width: relative;
}