.team-image {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
}

#team-container {
    display: flex;
    flex-direction: row;
}

#modal {
    position: absolute;
    width: 60vw;
    height: 60vh;
    top: 20vh;
    left: 20vw;
    background-color: aqua;
}

.hide {
    display: none;
}

.player {
    width: relative;
}